* {
    margin: 0;
    padding: 0;
}

.Todo {
    width: 450px;
    height: auto;
    border: 1px solid rgb(160, 212, 228);
    background-color: #0963a8;
    border-radius: 2px;
}

.Todoitem {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(241, 233, 233);
    padding: 13px;
}

.Todoitem>p {
    display: inline-block;
    margin-left: 10px;
}

.Title-header {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(211, 227, 240);
}

.TodoitemNone {
    text-decoration: line-through;
    color: #4f5a5f
}